#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  /* position: relative;
  height: 100%; */
}

/* ._home .main_view_spot {
  height: 100vh;
  overflow-y: auto;
} */

._home .main_view_spot::-webkit-scrollbar {
  display: none;
}

._home ._header,
._home ._section {
  height: 100vh !important;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}



._home ._header .container,
._home ._section .container {
  height: 100%;
}

._home ._header .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.revo_section .container {
  display: flex;
  align-items: center;
  position: relative;
}

.revo_text_view {
  position: absolute;
  height: 100vh;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  position: relative;
}

.section_text {
  font-size: 8rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.5;
}

._section .sub_title {
  font-size: 4.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

.icon_tag {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #dcebf7;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  color: var(--dt-primarry-color);
}

.card_tiles_section {
  position: relative;
}

.card_tiles_section .container {
  position: unset;
}

.explore_section {
  position: relative;
}

.explore_section .container{

}

.explore_view_spot{
  position: absolute;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center;

}