:root {
  font-family: 'Arimo', sans-serif;
  --dt-primarry-color:#ff5929
}


body {
  margin: 0;
  height: 100vh;
}

/* Button */
._btn {
  border-width: 1.5px;
  border-style: solid;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Arimo', sans-serif !important;
}

.btn_primary {
  background: var(--dt-primarry-color);
  color: #ffffff;
  border-color: var(--dt-primarry-color);
}

.btn_secondary {
  background: transparent;
  color: #000000;
  border-color: #000000;
}
